<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../../vendor/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.6.6/angular-messages.js"></script>

    <script src="./app/app.js"></script>
    <link rel="stylesheet" href="./css/main.css">


</head>
<body>
    <div class="wrapper" ng-controller="firstCtrl">
        <h2>Forms</h2>
        <!-- if required, then save change value in scope -->
        <!-- novalidate directive - off html validation -->
        <div class="block">
            <form novalidate class="css-form">
                <label>Name: <input type="text" ng-model="user.name" required /></label><br />
                <label>E-mail: <input type="email" ng-model="user.email" required /></label><br />
                Gender: <label><input type="radio" ng-model="user.gender" value="male" />male</label>
                <label><input type="radio" ng-model="user.gender" value="female" />female</label><br />
                <input type="button" ng-click="reset()" value="Reset" />
                <input type="submit" ng-click="update(user)" value="Save" />
            </form>
        </div>

        <!--
            $valid – true/false – валидности введенных данных относительно заданных правил
            $invalid – false/true – обратный к $valid
            $pristine – true, если форма/элемент еще не использовались
            $dirty – обратные к $pristine
            $touched – на элементе произошло событие blur
            $error – объект ошибки
            $isEmpty(value) – вспомогательный метод, который проверяет является ли значение undefined, ”, null или NaN
            $validate() – true/false – запускает все валидаторы зарегистрированные на модели
            $setValidity(validationErrorKey, isValid) – задание значения валидности для одного из критериев
            $setPristine()/$setDirty() – сеттеры для $pristine/$dirty
            $setUntouched()/$setTouched() – сеттеры для $touched
        -->
        <div class="block">
            <form name="login">
                <label>Name: <input name="username" ng-model="username" type="text" required></label>
                <br />
                <label>Password:<input name="password" ng-model="password" pattern="\d+" value=""></label>

                <table border="1">
                    <tr>
                        <td>login.username</td>
                        <td>{{ login.username }}</td>
                        <td>{{ username }}</td>
                    </tr>
                    <tr>
                        <td>login.password</td>
                        <td>{{ login.password }}</td>
                        <td>{{ password }}</td>
                    </tr>
                    <tr>
                        <td>login.$valid</td>
                        <td>{{ login.$valid }}</td>
                    </tr>
                </table>
            </form>
        </div>

        <!--
            important!

            все валидируемые елементы должны содержать директиву ng-model,
            именно благодаря ней мы имеем доступ к ngModelController если у вас в scope свойство,
            которая не соответствует критериям, – оно выведено не будет.
        -->

        <div class="row"></div>

        <h2>Services</h2>
        <div class="block">
            <h3>.service()</h3>

            <button ng-click="serviceOne();">service_1</button>
            <br />
            <br />
            <button ng-click="serviceTwo();">service_2</button>
        </div>
        <div class="block">
            <h3>.factory()</h3>

            <button ng-click="factoryOne();">factory_1</button>
        </div>
        <div class="block">
            <h3>.value() and .const()</h3>

            <button ng-click="valueOne();">value_1</button>
            <br />
            <br />
            <button ng-click="valueTwo();">value_2</button>
            <br />
            <br />
            <button ng-click="constOne();">const_1</button>
        </div>
        <div class="block">
            <h3>.provider()</h3>

            <button ng-click="providerOne();">provider_1</button>
        </div>
    </div>
</body>
</html>