<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../../vendor/angular.js"></script>
    <script src="./app/app.js"></script>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <div class="wrapper" ng-controller="firstCtrl">
        <!-- if required, then save change value in scope -->
        <!-- novalidate directive - off html validation -->
        <div class="block">
            <form novalidate class="css-form">
                <label>Name: <input type="text" ng-model="user.name" required /></label><br />
                <label>E-mail: <input type="email" ng-model="user.email" required /></label><br />
                Gender: <label><input type="radio" ng-model="user.gender" value="male" />male</label>
                <label><input type="radio" ng-model="user.gender" value="female" />female</label><br />
                <input type="button" ng-click="reset()" value="Reset" />
                <input type="submit" ng-click="update(user)" value="Save" />
            </form>
        </div>
    </div>
</body>
</html>