<!-- <a ui-sref="flow">flow</a>
<a ui-sref="flow2">flow2</a>
<div class="flow">
    <div class="flow__menu" ui-view="menu"></div>
    <div class="flow__block-list" ui-view="blockList"></div>
</div> -->



<div ng-controller="l-flow">
    {{ flow.name }}
    

    <div data-ng-repeat="board in flow.taskManager.boards" 
         data-dragndrop="{ type: 'dropzone' }" 
         class="container">
        <div data-ng-repeat="task in board"
             data-dragndrop
             class="block">{{ task.title }}</div>
    </div>
</div>