<div>
    <h3>
        Home
    </h3>

    <div ng-controller="l-flow">
        <div data-ng-repeat="board in flow.taskManager.boards" 
            data-dragndrop="{ 
                type: 'dropzone', 
                id: board.id,
                state: flow.taskManager.state, 
                dropHandler: dropHandler 
                }" 
            class="container">
            <div data-ng-repeat="task in board.tasks"
                data-dragndrop="{ 
                    id: task.id, 
                    state: flow.taskManager.state 
                    }"
                class="block">{{ task.title }}</div>
        </div>
    </div>
</div>