html, body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.flow {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: flex-start;
    align-items: stretch;
}

.flow__menu {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100%;
}

.flow__block-list {
    height: 100%;
    width: calc(100% - 200px);
}