html, body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: helvetica;
}

h1, h2, h3 {
    color: #ed786a;
    font-weight: 600;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1em;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100px;
}

.flow {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: flex-start;
    align-items: stretch;
}

.flow__menu {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 200px;
    height: 100%;
    color: #888;
}

.menu_button {    
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu_button span {
    margin: 5px;
    margin-left: 20px;
}

.menu_button:hover {
    color: #ed786a;
    background-color: #ddd;
}

.flow__board {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 5px;
    margin-right: 10px;
}

.flow__course-div {
    min-height: 280px;
    max-height: 280px;
    min-width: 300px;
    max-width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
}

.flow__course-div_img {
    min-height: 230px;
    max-height: 230px;
    min-width: 300px;
    max-width: 300px;
}

.favourite__img {
    position: relative;
    max-width: 50px;
    max-height: 50px;
    bottom: 5px;
    left: 250px;
}

.flow__course-div p {
    text-align: center;
    margin: auto;
    margin-top: 5px;
    margin-right: 50px;
    position: relative;
    bottom: 60px;
}

.flow__course-div:hover {
    color: #ed786a;
    background-color: #ddd;
}

.flow__description-head {
    width: 100%;
}

.flow__description-head ul {
   float: left;
}

.flow__description-head img {
    float: left;
    max-height: 180px;
    max-width: 240px;
    margin-right: 10px;
}

.flow__description-body img {
    float: left;
    max-height: 92px;
    max-width: 120px;
    margin: 10px;
}

.flow__favourite {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 600px;
}

.flow__favourite img {
    float: left;
    max-height: 100px;
    max-width: 140px;
    min-height: 100px;
    min-width: 140px;
    margin: 10px;
}
