* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.block {
    border: 2px solid black;
    margin: 50px 10px;
    padding: 20px;
    width: 700px;

    overflow-x: auto;
}

.row {
    background: rosybrown;
    height: 20px;
}

.elements__wrapper {
    display: flex;
}

.element {
    width: 150px;
    height: 150px;
    background-color: burlywood;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
}

.css-form input.ng-valid.ng-touched {
    background-color: #78FA89;
}

table {
    border: 1px solid #a61717;
}

table td {
    padding: 10px;
    text-align: center;
}
